.baner{
	color: $base-color;
	font-family: $base-font;
	background-color: #FAFAF8;
	background-repeat: repeat;

	.middle{
		width: 100%;

		.main{
		    text-align: center;
			font-size: 25vw;
		}
		.sub{
		    text-align: center;
		    font-size: 8vw;
		}
	}

	@media all and (min-width: 600px) {
		height: 50*$base-size;
		background-image: $base-background;
		
		.middle{
			width: 50*$base-size;
			margin-left:auto;
			margin-right: auto;
			padding-top: 10*$base-size;
			.main{
				font-size: 15*$base-size;
			}
			.sub{
			    font-size: 5*$base-size;
			}
		}

	}

	
}