.filter{
	padding: $base-size 0 $base-size 0;
	text-align: center;
	background-color: $base-color;
	position:relative;

	input,
	select,
	option{
		height: 2*$base-size;
		box-sizing: border-box;
	    border: $base-color;
	    color: $base-color;
	    margin-right: 0.5 * $base-size;
	}

	.maskPanel{
		position: absolute;
		top:0px;
		left:0px;
		right:0px;
		bottom:0px;
		z-index: 2;
		background-color: white;
		opacity:0.5;

		&.hidden{
			display: none;
		}
	} 
}