.loading-bar{
	width:100%;
	padding: 0.5 * $base-size 0 0.5 * $base-size 0;
	text-align: center;
	background-color: $base-color;
	position: relative;
	font-family: $base-font;
	color: white;

    -webkit-animation: progress 2s 1 forwards;
    -moz-animation: progress 2s 1 forwards;
    -ms-animation: progress 2s 1 forwards;
    animation: progress 2s 1 forwards;

	.gradient{
		content: "";
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%,transparent);
		z-index: 1;
		background-size: 50px 50px;
		animation: loading-bar-move 2s linear infinite;
		overflow: hidden;
	}
}

@keyframes loading-bar-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}