.user-details{
	width:100%;
	font-family: $base-font;
	background-color: white;
	padding: $base-size;

	.image-wrapper{
		text-align: center;
	}

	ul{
		list-style: none;
	}

	.label{
	    font-weight: bold;
	    margin-right: 10px;
	}

	@media all and (min-width: 600px) {
		width: 100*$base-size;
		margin:auto;
	}
}