.user{
	flex: 1;
	overflow: hidden;
	position: relative;
	cursor: pointer;

	.image-wrapper{
		overflow: hidden;
		width: 100%;

		img{
			width: 100%;
		}
	}

	.user-info{
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: - 2* $base-size;
		opacity: 0.7;
		background-color: white;
		color: $base-color;
		font-family: $base-font;
		padding: 0.5 * $base-size;
		transition-property: bottom;
		transition-duration: 500ms;

		.login{
			font-size: 2.5*$base-size;
		}

		.additional-info{
			font-size: 1.5*$base-size;
		}
	}

	&:hover{
		.user-info{
			bottom: 0px;
		}
	}
}
