.details{
	background-image: $base-background;
	background-repeat: repeat;

	.navigation-link{
		padding: $base-size 0 $base-size 0;
		text-align: center;
		background-color: $base-color;
		font-family: $base-font;
		position:relative;
		color: white;

		span{
			cursor: pointer;
		}
	}
}