.loader{
	height:100%;
	width:100%;
	background-image: $base-background;
	background-repeat: repeat;

	.loader-div{
		width: 100%;
		position:relative;
	}

	@media all and (min-width: 600px) {
		.loader-div{
			width: 50* $base-size;
			margin:auto;
		}
	}
}